<div class="jumbotron">
  <h4>Admin</h4>
  <div class="row">
    <div class="col-12 col-sm-4 col-lg-3 col-xl-3 font-weight-bold">Admin Password</div>
    <div class="col-12 col-sm-8 col-lg-9 col-xl-9">The password used to access these settings. The admin page is public until a password is saved.</div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-4 col-lg-3 col-xl-3 font-weight-bold">Site Name</div>
    <div class="col-12 col-sm-8 col-lg-9 col-xl-9">The name of this site. The name is displayed both in the navbar and the title of the browser page.</div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-4 col-lg-3 col-xl-3 font-weight-bold">Navbar Background Color</div>
    <div class="col-12 col-sm-8 col-lg-9 col-xl-9">The background color of the navbar.</div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-4 col-lg-3 col-xl-3 font-weight-bold">Navbar Font Color</div>
    <div class="col-12 col-sm-8 col-lg-9 col-xl-9">The font color of the navbar.</div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-4 col-lg-3 col-xl-3 font-weight-bold">Page Background Color</div>
    <div class="col-12 col-sm-8 col-lg-9 col-xl-9">The background color of the page.</div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-4 col-lg-3 col-xl-3 font-weight-bold">Page Font Color</div>
    <div class="col-12 col-sm-8 col-lg-9 col-xl-9">The font color of the page.</div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-4 col-lg-3 col-xl-3 font-weight-bold">Copyright Name</div>
    <div class="col-12 col-sm-8 col-lg-9 col-xl-9">The name used for the copyright in the footer.</div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-4 col-lg-3 col-xl-3 font-weight-bold">Display Gallery Captions</div>
    <div class="col-12 col-sm-8 col-lg-9 col-xl-9">Whether to display the post titles under the thumbnails in the galleries.</div>
  </div>
</div>
<% if !@settings.is_admin_pass || @settings.is_admin_pass.empty? %>
  <div class="alert alert-success">
    Welcome to CatCMS! To start building, enter at least an admin password below and click "Save Settings".
  </div>
<% end %>
<%= form_tag(:controller => :admin, :action => :save) do %>
  <div class="row">
    <div class="col-12 col-sm-6 form-group">
      <%= label_tag :admin_pass, 'Admin Password' %>
      <%= password_field_tag :admin_pass, @settings.is_admin_pass && !@settings.is_admin_pass.empty? ? Settings::ADMIN_PASS : '', class: 'form-control' %>
    </div>
    <div class="col-12 col-sm-6 form-group">
      <%= label_tag :site_name, 'Site Name' %>
      <%= text_field_tag :site_name, @settings.site_name, class: 'form-control' %>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6 form-group">
      <%= label_tag :navbar_bg_color, 'Navbar Background Color' %>
      <%= color_field_tag :navbar_bg_color, @settings.navbar_bg_color, class: 'form-control' %>
    </div>
    <div class="col-12 col-sm-6 form-group">
      <%= label_tag :navbar_font_color, 'Navbar Font Color' %>
      <%= color_field_tag :navbar_font_color, @settings.navbar_font_color, class: 'form-control' %>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6 form-group">
      <%= label_tag :page_bg_color, 'Page Background Color' %>
      <%= color_field_tag :page_bg_color, @settings.page_bg_color, class: 'form-control' %>
    </div>
    <div class="col-12 col-sm-6 form-group">
      <%= label_tag :page_font_color, 'Page Font Color' %>
      <%= color_field_tag :page_font_color, @settings.page_font_color, class: 'form-control' %>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-12 col-sm-6 form-group">
      <%= label_tag :copyright_name, 'Copyright Name' %>
      <%= text_field_tag :copyright_name, @settings.copyright_name, class: 'form-control' %>
    </div>
    <div class="col-12 col-sm-6 form-group">
      <div class="form-check form-check-inline">
        <%= check_box_tag :gallery_captions, nil, @settings.gallery_captions, class: 'form-check-input' %>
        <%= label_tag :gallery_captions, 'Display Gallery Captions', class: 'form-check-label' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 form-group">
      <%= button_tag 'Save Settings', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
