<div class="jumbotron">
  <h5><%= !@page.id ? 'New' : 'Edit' %> Page</h5>
  <div class="row">
    <div class="col-12 col-sm-3 col-lg-2 font-weight-bold">Path</div>
    <div class="col-12 col-sm-9 col-lg-10">The name of the page and the path to access it. Converted to capitalized words.</div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-3 col-lg-2 font-weight-bold">Page type</div>
    <div class="col-12 col-sm-9 col-lg-10">The basic page format.</div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-3 col-lg-2 font-weight-bold">Banner</div>
    <div class="col-12 col-sm-9 col-lg-10">The optional image that spans the top of the page. The size is 2400 x 300 px.</div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-3 col-lg-2 font-weight-bold">Content</div>
    <div class="col-12 col-sm-9 col-lg-10">The HTML content of the page.</div>
  </div>
</div>
<div class="alert alert-danger <%= !notice ? 'hidden' : '' %>"><%= notice %></div>
<%= form_for @page do |f| %>
  <div class="row">
    <div class="col-12 form-group">
      <%= f.label :path %>
      <%= f.text_field :path, :class => 'form-control' %>
    </div>
  </div>
  <div class="row">
    <div class="col-12 form-group">
      <%= f.label :page_type, "Page Type" %>
      <%= f.select :page_type, Page::PAGETYPES, {}, :class => 'form-control', :onchange => 'onChangeType(this)' %>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6 form-group">
      <%= f.label :banner %>
      <%= f.file_field :banner, :class => 'form-control-file' %>
    </div>
    <div class="col-12 col-sm-6 form-group">
      <% if @page.banner? %>
        <div class="banner-thumb" style="background-image: url(/image<%= @page.banner %>);"></div>
      <% end %>
    </div>
  </div>
  <div id="content" class="row <%= @page.page_type.nil? || @page.page_type == Page::PAGETYPES[:PLAIN] ? '' : 'hidden' %>">
    <div class="col-12 form-group">
      <%= f.label :content %>
      <%= f.text_area :content, :class => "tinymce", :rows => 40, :cols => 120 %>
    </div>
  </div>
  <div class="row">
    <div class="col-12 form-group">
      <%= link_to 'Cancel', @page.path ? root_url + @page.path : root_url, :class => 'btn btn-secondary' %>
      <%= button_tag (!@page.id ? 'Create' : 'Save') + ' Page', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
<%= tinymce %>
<script>
  function onChangeType(select) {
    const hasContent = +select.value === <%= Page::PAGETYPES[:PLAIN] %>;
    $('#content').toggle(hasContent);
  }
</script>
