<div class="jumbotron">
  <h1 class="display-5">New Post</h1>
  <p class="lead">
    Title: The title of the image or blog post.<br />
    Page: The page of the post.<br />
    Category: The sub-section of the page.<br />
    Image: The image content of the post.<br />
    Content: The HTML content of the post.<br />
  </p>
</div>
<%= form_for @post do |f| %>
  <div class="form-group row">
    <div class="col-md-6 col-sm-12">
      <%= f.label :title %>
      <%= f.text_field :title, :class => 'form-control' %>
    </div>
    <div class="col-md-6 col-sm-12">
      <%= f.label 'Page' %>
      <%= f.collection_select(:page_path, pages_with_posts, :path, :path, {}, { :class => 'form-control' }) %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-6 col-sm-12">
      <%= f.label :category %>
      <%= f.text_field :category, :class => 'form-control' %>
    </div>
    <div class="col-md-6 col-sm-12">
      <%= f.label :image %>
      <%= f.file_field :image, :class => 'form-control-file' %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-12">
      <%= f.label :content %>
      <%= f.text_area :content, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-12">
      <%= button_tag 'Create', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
