<%= form_for post, :html => { :id => "form_edit_page_gallery#{post.id}",
  :class => 'form_edit_page_gallery_image' } do |f| %>
  <div class="form-group row">
    <div class="col-sm-12 col-md-5">
      <%= image_tag post.image.thumb %>
    </div>
    <div class="col-sm-12 col-md-7">
      <%= render 'form' %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-12">
      <%= link_to 'Cancel', @page.path, :class => 'btn btn-secondary' %>
      <%= f.submit 'Update Post', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>