<footer>
  <% if session[:admin] %>
    <span class="btn-group btn-group-sm">
      <%= link_to 'Admin', admin_path, :class => 'btn btn-primary' %>
      <%= link_to 'New Page', new_page_path, :class => 'btn btn-primary' %>
      <% if pages_with_posts.any? %>
        <%= link_to 'New Post', new_post_path, :class => 'btn btn-primary' %>
      <% end %>
      <% if params[:controller] != 'admin' && @page && @page.id %>
        <%= link_to 'Edit Page', edit_page_path(:id => @page.id), :class => 'btn btn-primary' %>
      <% end %>
    </span>
  <% end %>
  <span>
    All content ©
    <% if !Settings.instance.copyright_name.to_s.empty? %>
      <b><%= Settings.instance.copyright_name %></b>
    <% end %>
    | Powered by <b>CatCMS</b>
  </span>
</footer>