<div id="gallery-wrapper">
  <div class="gallery-cats">
    <% if @cats.length > 1 %>
      <% @cats.uniq.each_with_index do |cat, index| %>
        <% if index != 0 %>|<% end %>
        <a href="?category=<%= cat %>"><%= cat %></a>
      <% end %>
    <% end %>
  </div>
  <% if @posts.each_with_index do |post, index| %>
    <% if index % 4 == 0 %>
      <div class="gallery-thumbnail-wrapper">
    <% end %>
    <div class="gallery-thumbnail">
      <a href="<%= image_path(post.image.full) %>" rel="lightbox[gallery]"
          data-title="<%= post.title %>"
          data-caption="<%= post.content %>">
        <%= image_tag post.image.thumb %>
      </a>
      <% if Settings.instance.gallery_captions %>
        <%= post.title.html_safe %>
      <% end %>
    </div>
    <% if index % 4 == 3 || index == @posts.length - 1 %>
      </div>
    <% end %>
  <% end.empty? %>
    <div class="gallery-empty">No images.</div>
  <% end %>
  <div class="clear"></div>
</div>
