<div id="page_top" class="pageBar">
  <div class="contentWrapper">
    <%= link_to root_url do %>
        <div id="page_top_title">Ann Fleming Sculptural Art</div>
    <% end %>

    <div class="pageBar_nav">
      <% @pages.each do |page| %>
          <% if page.page_type == Page::PAGETYPES[:GALLERY] %>
            <div class="pageBar_nav_btn pageBar_dropdown_btn">
              <%= page.title %>
              <div class="pageBar_dropdown_content">
                <% Post.uniq.pluck(:tag).each do |tag| %>
                  <%= link_to tag, root_url + page.path + '/' + tag.downcase.delete(' '),
                    :class => 'pageBar_dropdown_content_btn pageBar_nav_btn' %>
                <% end %>
              </div>
            </div>
          <% else %>
            <%= link_to root_url + page.path, :class => 'pageBar_nav_btn' do %>
              <%= page.title %>
            <% end %>
          <% end %>
      <% end %>
    </div>
  </div>
</div>
