<!DOCTYPE html>
<html>
<head>
  <title>Artsite</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- Top bar with logo and nav -->
  <%= render 'layouts/nav' %>

  <!-- Image banner -->
  <div id="banner"></div>
  
  <!-- Content -->
  <div id="content">
    <%= yield %>
  </div>
</body>
</html>
