<!DOCTYPE html>
<html>
<head>
  <title>Artsite</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- Top bar with logo and nav -->
  <%= render 'layouts/nav' %>

  <!-- Page wrapper -->
  <div id="page-wrapper">
    <!-- Banner -->
    <div id="banner">
      
    </div>

    <!-- Rendered content -->
    <div id="content">
      <%= yield %>
    </div>
  </div>
</body>
</html>
