<!DOCTYPE html>
<html>
<head>
  <title>Artsite</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- Top bar with logo and nav -->
  <%= render 'layouts/top' %>

  <!-- Image banner -->
  <div id="page-banner">
    <img src="/assets/banner_test.png" alt="Banner" />
  </div>
  
  <!-- Content -->
  <div id="page-content">
    <%= yield %>
  </div>
  
  <div id="page-copyright">
    All content © <b>Ann Fleming</b> | Website by <b>Casey Dyer</b>
  </div>
  
  <!-- Bottom bar with admin options -->
  <!--<%= render 'layouts/bottom' %>-->
</body>
</html>
