<!DOCTYPE html>
<html>
<head>
  <title><%= Settings.instance.site_name %><%= @page && @page.path ? ' - ' + @page.path.upcase : '' %></title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <link href="http://fonts.googleapis.com/css?family=Raleway:400" rel="stylesheet" type="text/css">
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/user_styles' %>
</head>
<body>
  <%= render 'layouts/nav' %>
  <div id="container">
    <div class="banner"></div>
    <section>
      <%= yield %>
    </section>
  </div>
  <%= render 'layouts/footer' %>
</body>
</html>
